.card-container {
    border-radius: 8px;
    border: 2px solid var(--primary);
    width: 260px;
    padding: 1rem;
}

.card-container img {
    object-fit: cover;
    height: auto;
    width: 100%;
}

.card-container .card-content {
    border-top: 1px solid var(--primary);
    margin-top: 0.5rem;
    padding: 1rem 0.5rem;
}

.card-container .card-content .card-category{
   color: var(--primary);
   font-size: 0.9rem;
   font-weight: 600;
   margin-bottom: 0.75rem;
}

.card-container .card-content .card-title{
    color: var(--secondary);
    font-size: 1.4rem;
}

@media screen and (max-width: 555px) {
    .card-container {
        width: 400px;
        padding: 0;
    }
}